@import "tailwindcss";

:root {
  --background: linear-gradient(to right, #fef9c3, #ffffff);
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 52ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid var(--foreground); /* Cursor */
  animation:
    typewriter 4s steps(22) 1s 1 normal both,
    blink 0.7s step-end infinite;
}
